<h1>id = <%= @task.id %> の課題詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>課題</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>status</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<%= link_to 'この課題を編集する', edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to 'この課題を削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>

